<div class="response jumbotron">
  <a href="<%= html_url %>">
  <h2><%= login %></h2>
  <img src="<%= avatar_url %>" width="100px;"height="auto"/></a>
  <label>Followers: </label>
  <%= followers %>
  <!-- TODO:: show followers avatars at 20px linking to their url's. -->
  </div>
