<div class="row jumbotron">

<div class="row">
    <div class="col-sm-4 text-center">
      <a href="<%= html_url %>">
      <h2><%= login %></h2>
      <img src="<%= avatar_url %>" width="200px;"height="auto"/></a>
    </div>
    <div class="col-sm-8">
      <h2>Followers: <%= followers %></h2>
      <ul id="theList" class="list-inline">
      </ul>
      <div id="theButton"></div>
    </div>
</div>
</div>
