<div class="response">
  <label>User: </label>
  <%= username %>
  <label>Followers: </label>
  <%= followCount %>
  <ul>
    <% users.forEach(function(user) { %>
      <li title="<%= user.username %>"><%= user.avatar %></li>
    <% }); %>
  </ul>
</div>
