<form>
  <input placeholder= "Username" type="text" id="in"></input>
  <button>Search</button>
  <input type="submit" onclick="user(document.getItemByID(in).value); followers(document.getItemByID(in).value);">
</form>
